<!DOCTYPE html>
<html>
  <head>
    <title>Trips</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="../">Home</a>
      <a href="flights/index">All flights</a>
      <a href="flights/new">Create flights</a>
    </div>
    <h1>Trips</h1>
    
    <p>Welcome to the flights page where you can view, create, and edit flights!</p>
    
    
    
  </body>
</html>
